doctype html
head
  meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
  link(rel="icon", href="favicon.ico")
  title L'atelier d'Emma - Coiffeuse à domicile
  meta(name='description', content="L'atelier d'Emma - Coiffeuse à domicile")
  meta(name='Keywords', content='atelier, coiffure, salon de coiffure, coiffeur, coiffeuse')
  link(href='https://fonts.googleapis.com/css?family=Indie+Flower', rel='stylesheet')
  link(href="./css/normalize.css", rel="stylesheet", type="text/css")
  link(href="./css/main.css", rel="stylesheet", type="text/css")
  link(href="./css/responsive.css", rel="stylesheet", type="text/css")

body.loading
  header
    .row
      .left
        ul
          li.scrollTo(data-scroll='intro') Présentation
          li.scrollTo(data-scroll='inspirations') Inspirations
          li.scrollTo(data-scroll='pricing') Tarifs
          li.scrollTo(data-scroll='infos') Contact
      .right
        a(href='https://www.facebook.com/domicile.fr/', target='_blank')
          img(src='./img/facebook.svg')
          span L'atelier d'Emma
  section#home.setSize.apply-bg(data-bg='./img/hero.jpg')
    .align
    .centered
      h1 L'atelier d'Emma
      h4 Chez vous, pour vous

  section#intro.p-top(data-appear-top-offset="-150")
    .row
      img.col(src='./img/aside.jpg')
      .col
        h3 Présentation
        P
          | Je m'appelle Emma, je suis coiffeuse à domicile avec une expérience de plus de 13 ans. J’ai décidé de me rendre à votre domicile pour tout service coiffure femme, homme, enfant. Je suis dynamique et à votre écoute pour vous apporter tous les conseils nécessaires.
        p
          | Passionnée, je vous apporte toutes mes compétences et mon savoir faire pour vous satisfaire chez vous ou dans votre entreprise. Pas d'attente inutile, pas de déplacements, ni de frais de garde pour les enfants. Je posssède le matériel nécessaire pour n’importe quelle demande.
        p
          | Chez vous pour vous.

  section#inspirations.p-top(data-appear-top-offset="-150")
    .row
      h3 Mes inspirations
      p Voici des images de coupes qui inspirent mon travail et font avancer  mes idées de création. Je passe de nombreuses heures à me tenir au courant sur les avancées et la mode dans la coiffure.
      .mozaic
        .col.x-12
          img(src='./img/inspi/i1.jpg')
        .col.x-6
          img(src='./img/inspi/i2.jpg')
          img(src='./img/inspi/i4.jpg')
          img(src='./img/inspi/i6.jpg')
        .col.x-6
          img(src='./img/inspi/i3.jpg')
          img(src='./img/inspi/i5.jpg')

  section#pricing.p-top(data-appear-top-offset="-150")
    .row
      h3 Tarifs
      .col
        h5 Forfait Femme
        .each
          span
            | Shampoing, brushing ou mises en plis
          small 17€
        .each
          span
            | Shampoing, coupe, brushing
          small 26€
        .each
          span
            | Coupe seule
          small 20€
        .each
          span
            | Shampoing, coloration, brushing
          small 37€
        .each
          span
            | Shampoing, coupe, coleur, brushing
          small 47€
        .each.no-bot
          span
            | Shamp., mèches ou balayage, brushing
          small 50€
        .each.legend
          span.label (+10 euros pour la coupe)
        .each
          span
            | Shampoing, permanente, brushing
          small 45€
        .each
          span
            |  Shamp., permanente, coupe brushing
          small 55€
        .each.legend
          span.label * Supplément cheveux longs ou épais 5€

        h5 Lissage Brésilien
        .each
          span
            | Cheveux court
          small 80€
        .each
          span
            | Cheveux mi long
          small 110€
        .each
          span
            | Cheveux long
          small 140€
        .each
          span
            | Cheveux très long
          small 175€
        .each.legend
          span.label
            | * Inclus le shampoing et le soin d'entretien.
            br
            | Coupe comprise si besoin

      .col
        h5 Forfait Homme
        .each
          span
            | Shampoing, coupe, coiffage
          small 14€
        .each
          span
            | Shampoing, coloration, coupe, coiffage
          small 28€

        h5 Forfait Enfant
        .each
          span
            | Coupe enfant jusqu'à 5 ans
          small 5€
        .each
          span
            | Coupe garçon de 5 à 13 ans
          small 10€
        .each
          span
            | Coupe fillette de 5 à 13 ans
          small 15€

        h5 À la Carte
        .each
          span
            |  Shampoing
          small 2€
        .each
          span
            | Coupe
          small 20€
        .each
          span
            | Coloration + shampoing
          small 22€
        .each
          span
            | Mèches + shampoing
          small 37€

        h5 Forfait Mariage
        .each
          span
            |  2 essais + jour J
          small 70€
        .each
          span
            | Essai suplémentaire
          small 15€

      .row
        p.legend L'atelier d'Emma vous propose également des chèques cadeaux, ainsi qu'une carte de fidélité.


  section#infos
    .row
      #map.col
      .col
        .each
          h5 Horraires :
          span Lundi/mardi/jeudi/vendredi : 9h - 19h
          span Mercredi : 9h - 11h Samedi : 9h - 17h
        .each
          h5 Téléphone et lieu d'intervention :
          span 06 95 63 21 36
          span De Bordeaux à Cestas
        .each
          h5 Frais de déplacements à partir du Porge :
          span Entre 0 et 10km : pas de frais
          span Entre 10 et 20km : 7€
          span Entre 20 et 30km : 15€
          span Frais de déplacements annulé pour 3 personnes.
  footer
    .row
      .left
        span Réalisé avec
        img(src='./img/heart.svg')
        span par flüz&powo
      .right
        img(src='./img/copyright.svg')
        span 2017 copyright le P'tit Atelier

  #loader




//- Webpack Bundles
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCT7W2cXe5ubk0u5LQYke2lSQqpShoxYz8')
script(src='./vendor.bundle.js')
script(src='./app.bundle.js')
